<div class="contacto">
  <h1>Contacto</h1>
  <p>Ponte en contacto con nosotros para más información.</p>

  <div class="contacto-contenedor">
    <div class="contacto-info">
      <h2>Nuestra oficina</h2>
      <p>📍 94330, Orizaba Ver</p>
      <p>📞 +012 345 67890</p>
<p>✉️ upavOrizaba&#64;gmail.com</p>
    </div>

    <div class="horas-trabajo">
      <h2>Horas de trabajo</h2>
      <p><strong>Lunes - Viernes</strong><br> 08:00 am - 04:00 pm</p>
      <p><strong>Clases Sábado o Domingo</strong><br> 08:00 am - 05:00 pm</p>
    </div>
  </div>

  <div class="social-icons">
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
</div>
