<div class="contenedor">
  <div class="seccion">
      <h2>Oferta Educativa</h2>
      <p>
          La Ingeniería Industrial se enfoca en la eficiencia y la mejora continua en diversos contextos, desde la 
          producción manufacturera hasta los servicios y la gestión de operaciones. Las instituciones educativas 
          suelen adaptar su oferta educativa para satisfacer las necesidades cambiantes de la industria y ofrecen 
          programas que preparan a los estudiantes para carreras exitosas en este campo.
      </p>
  </div>

  