<header *ngIf="!isAdminRoute()">
  <div class="logo">
    <img src="assets/upav.jpg" alt="Logo de la Universidad">
  </div>
  <nav>
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/conocenos">Conócenos</a></li>
      <li><a routerLink="/oferta-educativa">Oferta Educativa</a></li>
      <li><a routerLink="/catalogo-servicios">Servicios</a></li>
      <li><a routerLink="/biblioteca">Biblioteca</a></li>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <li><a routerLink="/encuesta">Encuesta</a></li>

     
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer *ngIf="!isAdminRoute()">
  <p>&copy; 2025 Universidad. Todos los derechos reservados.</p>
</footer>