<div class="contenedor">
  <h1>Bienvenido a nuestra casa de estudios</h1>
  <p>Conoce un poco más acerca de nosotros.</p>

  <div class="seccion">
      <h2>Misión</h2>
      <p>
          Dar cumplimiento al mandato constitucional del derecho a la educación, así como, a la demanda social de los 
          veracruzanos de ampliar sus posibilidades de acceso a los niveles de educación media superior y superior,  con lo que se coadyuva a mejorar su calidad de vida y superar los rezagos sociales, atendiendo la necesidad educativa de la población adulta y de las comunidades campesinas e indígenas, así como, de personas de escasos recursos económicos con deseos de superación.
      </p>
  </div>

  <div class="seccion">
      <h2>Visión</h2>
      <p>
          Consolidar a la Universidad Popular Autónoma de Veracruz, como una institución líder y única en el País, en horarios flexibles y diferentes al calendario escolar oficial, basando sus planes y programas de estudios en modelos de competencias e impulsando el autodidactismo creativo, de análisis y de reflexión, comprometidos en formar profesionales con calidad, bajo una perspectiva de mejora continua.
      </p>
  </div>

  <div class="seccion">
      <h2>Objetivo</h2>
      <p>
        Como parte integrante del sistema educativo estatal, esta Institución tiene como objeto la impartición de servicios educativos de nivel medio superior y educación superior, de manera especial en aquellas comunidades de la entidad con alto rezago educativo.
      </p>
  </div>
</div>


