/* admin.component.css */
.admin-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.admin-navigation {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.admin-navigation button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.admin-navigation button.active {
  background-color: #007bff;
  color: white;
  border-color: #0069d9;
}

.admin-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}
.modal {
  position: fixed;
  top: 0px;
  left: 0pxs;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 700px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
}

.pop{
  background-color: #0d258f;
  color: #ffffff;
  margin: 2px;
}
.rak{
  background-color: #dd1212;
  color: #ffffff;
  margin: 2px;

}